.Container{
    width: 600px;
    height: auto;
    margin: 0 auto;
    padding: 30px 42px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: white;
}

h3{
    border-bottom: 2px solid black;
    padding: 4px 0;
    margin-bottom: 8px;
}

.Contact{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.Person{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

ul{
    padding: 0 18px;
    margin-bottom: 8px;
    max-height: 140px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.Objective{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Title{
    margin-bottom: 8px;
}

.Date{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Degree{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.Place{
    display: flex;
    align-items: center;
    gap: 16px;
}